name: iOS Test Workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build and Test default scheme using iPhone/iPad simulator
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Force Xcode
        run: sudo xcode-select -switch /Applications/Xcode.app
      - name: Install Dependencies
        run: |
          cd XCUITest_study
          pod install --repo-update
        shell: bash
      - name: iOS build setup
        run: >-
          xcodebuild test -workspace XCUITest_study/XCUITest_study.xcworkspace
          -scheme XCUITest_studyUITests -destination 'platform=iOS Simulator,name=iPhone SE (2nd generation),OS=15.2'
      
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "run-shell-command!"
      - name: multiline script
        run: |
          cd XCUITest_study
          sh runSnapshotTest.sh
